/* Footer */
/* Estilos generales para el footer */
.footer {
    color: #fff;
    padding: 20px 0;
    font-family: Arial, sans-serif;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    font-family: 'Bako Sapi';
  }
  
  /* Estilos para las secciones del footer */
  .footer-section {
    flex: 1;
    padding: 10px;
  }
  
  .footer-section h4 {
    font-size: 20px;
    margin: 3% 3% 3% 0%;
  }
  
  .footer-section ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-section ul li {
    margin-bottom: 8px;
  }
  
  /* Estilos para los enlaces */
  .footer-section a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s;
  }
  
  .footer-section a:hover {
    color: #ffbc0e;
  }
  
  .social_media{
    width: auto;
    height: 500px;
  }
  
  .social-icons {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
  }
  
  .social-icons li {
    margin-right: 10px;
  }
  
  .social-icons a {
    text-decoration: none;
    color: #333; 
}
  
  /* Estilos para la respuesta responsive */
  @media screen and (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        align-items: center;
    }
  
    .footer-section {
        flex: none;
        text-align: center;
    }
  }