/* Whatsapp icon*/
.whatsapp {
  position:fixed;
  width:70px;
  height:70px;
  bottom:30px;
  right:30px;
  background-color:#25d366;
  color:#FFF;
  border-radius:50px;
  text-align:center;
  font-size:40px;
  z-index:100;
}

.whatsapp-icon {
  margin-top:13px;
}

@media (max-width: 768px) {
  .whatsapp {
  bottom:45px;
  right: 20px;
  }
}